.row.wrapper.border-bottom.white-bg.page-heading.mt-5
  .col-lg-10
    h2 Volunteer Details

.container.mt-5
  .row
    .col-md-8
      .row
        .col-md-3
          strong Email:
        .col-md-8
          = @volunteer.email

      .row
        .col-md-3
          strong Name:
        .col-md-8
          = @volunteer.name

      .row
        .col-md-3
          strong Phone:
        .col-md-8
          = @volunteer.phone_whatsapp

      .row
        .col-md-3
          strong CNIC:
        .col-md-8
          = @volunteer.cnic

      .row
        .col-md-3
          strong Date of Birth:
        .col-md-8
          = @volunteer.dob

      .row
        .col-md-3
          strong Age:
        .col-md-8
          = @volunteer.age

      .row
        .col-md-3
          strong Gender:
        .col-md-8
          = @volunteer.gender

      .row
        .col-md-3
          strong Blood Group:
        .col-md-8
          = @volunteer.blood_group

      .row
        .col-md-3
          strong City:
        .col-md-8
          = @volunteer.city

      .row
        .col-md-3
          strong Current Address:
        .col-md-8
          = @volunteer.current_address

      .row
        .col-md-3
          strong Hometown Address:
        .col-md-8
          = @volunteer.hometown_address

      .row
        .col-md-3
          strong Educational Institute:
        .col-md-8
          = @volunteer.educational_institute

      .row
        .col-md-3
          strong Degree / Department:
        .col-md-8
          = @volunteer.degree_department

      .row
        .col-md-3
          strong Professional Details:
        .col-md-8
          = @volunteer.professional_details.join(" - ")
      .row
        .col-md-3
          strong Availability Time:
        .col-md-8
          = @volunteer.availability&.join(" - ")

      .row
        .col-md-3
          strong Availability Days:
        .col-md-8
          = @volunteer.availability_days&.join(" - ")

      .row
        .col-md-3
          strong Short Bio:
        .col-md-8
          = @volunteer.bio.presence || "No bio provided"

      .row
        .col-md-3
          strong Skills:
        .col-md-8
          = @volunteer.skills.join(" - ")




    .col-md-4.status_placeholder
      = render partial: 'shared/volunteer_status_badge', locals: { v: @volunteer }

div data-controller="volunteers"

= render partial: 'modal_status', locals: {volunteer: @volunteer}
